apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority-data: {{ ca_content }}
      server: {{ k8s_server_address }}
    name: {{ cluster_name }}
contexts:
  - context:
      cluster: {{ cluster_name }}
      user: {{ k8s_user }}
    name: {{ context_name }}
current-context: {{ context_name }}
preferences: {}
users:
  - name: {{ k8s_user }}
    user:
      client-certificate-data: {{ client_certificate_content }}
      client-key-data: {{ client_key_content }}